<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">FromEvent</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="concat">Concat</a>
            </li>
            <li>
                <a routerLink="merge">Merge</a>
            </li>
            <li>
                <a routerLink="mergemap">Merge Map</a>
            </li> 
            <li>
                <a routerLink="concatmap">Concat Map</a>
            </li>
            <li>
                <a routerLink="handlemultiplehttprequest">Handle Multiple Https Request</a>
            </li>
            <li>
                <a routerLink="switchmap">Switch Map</a>
            </li>
        </ul>
    </div>
</div>